@model PaginationVM


@{
    ViewBag.Title = "BookingList";
}

@TempData["bos"]
@TempData["sepetBos"]
@TempData["sorun"]
@TempData["baglantiRed"]
@TempData["odeme"]

<div class="row">
    <div class="col-md-3">

        <section class="panel">
            <header class="panel-heading">
                Room Types
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    @foreach (RoomType item in Model.RoomTypes)
                    {
                        <li style="padding-top:30px">  @Html.ActionLink(item.TypeName, "BookingList", new { roomTypeID = item.ID }, new { @class = "btn btn-primary" })  </li>
                    }

                </ul>
            </div>
        </section>

    </div>
    <div class="row product-list">

        <div class="pull-right">
            <ul class="pagination pagination-sm pro-page-list">

                @if (TempData["rtID"] != null)
                {
                    <li>  @Html.PagedListPager(Model.PagedRoomTypes, page => Url.Action("BookingList", new { page, roomtypeID = TempData["rtID"] }))   </li>
                }
                else
                {
                    <li>
                        @Html.PagedListPager(Model.PagedRoomTypes, page => Url.Action("BookingList", new { page }))
                    </li>
                }
            </ul>
        </div>



        @foreach (RoomType item in Model.PagedRoomTypes)
        {
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        @if (item.ImagePath == null || item.ImagePath == "3" || item.ImagePath.Contains("nightlife"))
                        {
                            <img src="https://picsum.photos/200" alt="Resim yok" width="100" height="300" title="@item.TypeName" />
                        }
                        else
                        {
                            <img src="@item.ImagePath" alt="Resim yok" width="100" height="300" title="@item.TypeName" />
                        }

                        @*

                        Url.Action'in bize verdigi fayda, asagıdaki gibi belli durumlarda ActionLink kullanmak tasarımımıza uygun olmadıgı zamanlarda ortaya cıkar...

                        //ActionLink("") => <a>    </a>

                        //Url.Action => "/Admin/Home/Category"

                        *@


                        <a href="@Url.Action("AddToCart",new { id=item.ID})" class="adtocart">
                            <i class="icon-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title" title="@item.GuestCapacity">
                                @item.GuestCapacity
                            </a>
                        </h4>
                        <p class="price">$@item.UnitPrice</p>
                    </div>
                </section>
            </div>
        }







    </div>




</div>


}